<!DOCTYPE html>
<html class="ui-page-login">

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title></title>
		<script src="js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/config.js" type="text/javascript" charset="utf-8"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link href="css/style.css" rel="stylesheet" />

		<style>
			.mui-table-view{
				margin: 5px;
				box-shadow: 3px 3px 10px #888;
			}
			
			.mui-scroll-wrapper {
				top: 40px
			}
			
			.btn-cell:after,
			.btn-cell:before {
				content: "";
				clear: both;
				display: block;
			}
			
			.mui-btn {
				padding: 10px;
			}
			
			.mui-btn.mui-btn-primary {
				margin: 5px;
				padding: 10px 20px;
				float: right;
				box-shadow: 2px 2px 5px #888;
			}
			
			.cell-title {
				width: 80px;
				display: inline-block;
			}
			
			.cell-content {
				display: inline-block;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">订单详情</h1>
		</header>
		<div class="mui-scroll-wrapper">
			<div class="mui-scroll">
				<div id="order" class="mui-content">
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<button type="button" class="mui-btn mui-pull-right mui-btn-blue mui-btn-outlined mui-icon mui-icon-chatbubble-filled">发起聊天</button>
							<img class="mui-media-object mui-pull-left" src="images/default.jpg">
							<div class="mui-media-body">
								{{item.userName}}
								<p class="mui-h6">{{item.dateTime}}</p>
							</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="mui-table-cell mui-pull-right">
								<span class="order-rmb">&yen;<span>{{item.price}}</span></span>
							</div>
							<div class="mui-table-cell mui-col-xs-10">
								<h4 class="order-title mui-ellipsis">{{item.title}}</h4>
							</div>
							<p>{{item.content}}
							</p>
							<img src="https://dummyimage.com/80x80/0e88eb/fff" />
							<img src="https://dummyimage.com/80x80/880eeb/fff" />
							<img src="https://dummyimage.com/80x80/88eb0e/fff" />
						</li>
						<li class="mui-table-view-cell">
							<div class="cell-title">类型</div>
							<div class="cell-content">{{item.cate}}</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="cell-title">取货地</div>
							<div class="cell-content">{{item.oFrom}}</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="cell-title">目的地</div>
							<div class="cell-content">{{item.oTo}}</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="cell-title">跑腿费</div>
							<div class="cell-content"><span class="card-rmb">&yen;{{item.price}}</span>
							</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="cell-title">购货费</div>
							<div class="cell-content"><span class="card-rmb">&yen;{{item.money}}</span>
							</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="cell-title">总价</div>
							<div class="cell-content"><span class="card-rmb">&yen;{{total}}</span>
							</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="cell-title">联系人</div>
							<div class="cell-content">{{item.userName}}</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="cell-title">联系电话</div>
							<div class="cell-content">{{item.phone}}</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="cell-title">截止时间</div>
							<div class="cell-content">{{item.deadline}}</div>
						</li>
						<li class="mui-table-view-cell">
							<div class="cell-title">状态</div>
							<div class="cell-content">{{stateName}}</div>
						</li>

					</ul>
					<div class="btn-cell">
						<button type="button" class="mui-btn  mui-btn-primary" v-if="item.state==1||item.state==3">取消订单</button>
						<button type="button" class="mui-btn  mui-btn-primary" v-if="item.state==2">申请取消</button>
						<button type="button" class="mui-btn  mui-btn-primary" v-if="item.state==2">订单跟踪</button>
						<button type="button" class="mui-btn  mui-btn-primary" v-if="item.state==3">重发订单</button>
						<button type="button" class="mui-btn  mui-btn-primary" v-if="item.state==4">评价订单</button>
					</div>
				</div>
			</div>
		</div>
		<script src="js/mui.js"></script>
		<script src="js/app.js"></script>
		<script>
			var order = new Vue({
				el: "#order",
				data: {
					item: {
						uId: NaN,
						userName: "加载中..",
						title: "加载中..",
						price: NaN,
						content:"加载中..",
						money: NaN,
						cate:1,
						oFrom: "加载中..",
						oTo: "加载中..",
						oId: NaN,
						phone: NaN,
						deadline: NaN,
						dateTime: NaN,
						state: 0,
					},
				},
				computed: {
					stateName: function() {
						stateList = ["未知", "未接单", "配送中", "失效订单", "待评价", "已完成"];
						return stateList[this.item.state];
					},
					total: function() {
						return this.item.money * 1 + this.item.price * 1;
					}
				}
			});
			var $_GET = (function() {
				var url = window.document.location.href.toString();
				var u = url.split("?");
				if(typeof(u[1]) == "string") {
					u = u[1].split("&");
					var get = {};
					for(var i in u) {
						var j = u[i].split("=");
						get[j[0]] = j[1];
					}
					return get;
				} else {
					return {};
				}
			})();
			var data = {};
			data.oId = $_GET['oId'];
			mui.ajax(hostUrl + "detail.php", {
				data: data,
				dataType: 'json',
				type: 'get',
				contentType: "application/x-www-form-urlencoded; charset=utf-8",
				timeout: 60000,
				success: function(data) {
					if(data) {
						order.item = data;
					} else {
						mui.alert("该订单不存在");
					}
				},
				error: function(xhr, type, errorThrown) {
					mui.alert("<网络连接失败，请重新尝试一下>", "错误", "OK", null);
				}
			});
			mui.init({
				swipeBack: true, //关闭右滑关闭功能
			});

			mui.plusReady(function() {

			});
			mui('.mui-scroll-wrapper').scroll({
				bounce: true,
				indicators: true, //是否显示滚动条
			});
		</script>
	</body>

</html>