<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>首页</title>
		<script src="js/vue.min.js"></script>
		<script src="js/mui.js"></script>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
		<style type="text/css">
			.mui-bar .mui-title {
				right: 10px;
				left: 80px;
			}
		</style>
	</head>

	<body>
		<header id="header" class="mui-bar mui-bar-nav">
			<button type="button" class="mui-btn mui-btn-link">
				<span class="mui-icon mui-icon-location-filled"></span><span>杭州</span>
			</button>
			<div class="mui-title title-search">
				<span class="mui-icon mui-icon-search"></span><span>垃圾街鸭血粉丝</span>
			</div>
		</header>
		<div class="mui-content">
			<div class="mui-slider">
				<div class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item" href="#item1">推荐</a>
					<a class="mui-control-item" href="#item2">校园帮帮</a>
					<a class="mui-control-item" href="#item3">同城快送</a>
					<a class="mui-control-item" href="#item4">卖家直达</a>
					<a class="mui-control-item" href="#item5">生鲜蔬果</a>
				</div>
				<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-25"></div>
				<div class="mui-slider-group">
					<div id="item1" class="mui-slider-item mui-control-content mui-active">
						<div id="dd" class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<div id="slider" class="mui-slider">
									<div class="mui-slider-group mui-slider-loop">
										<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
										<div class="mui-slider-item mui-slider-item-duplicate">
											<a href="#">
												<img src="https://dummyimage.com/400x200/888/fff">
											</a>
										</div>
										<!-- 第一张 -->
										<div class="mui-slider-item">
											<a href="#">
												<img src="https://dummyimage.com/400x200/000/fff">
											</a>
										</div>
										<!-- 第二张 -->
										<div class="mui-slider-item">
											<a href="#">
												<img src="https://dummyimage.com/400x200/0e88eb/fff">
											</a>
										</div>
										<!-- 第三张 -->
										<div class="mui-slider-item">
											<a href="#">
												<img src="https://dummyimage.com/400x200/880eeb/fff">
											</a>
										</div>
										<!-- 第四张 -->
										<div class="mui-slider-item">
											<a href="#">
												<img src="https://dummyimage.com/400x200/888/fff">
											</a>
										</div>
										<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
										<div class="mui-slider-item mui-slider-item-duplicate">
											<a href="#">
												<img src="https://dummyimage.com/400x200/000/fff">
											</a>
										</div>
									</div>
									<div class="mui-slider-indicator">
										<div class="mui-indicator mui-active"></div>
										<div class="mui-indicator"></div>
										<div class="mui-indicator"></div>
										<div class="mui-indicator"></div>
									</div>
								</div>
								<ul class="mui-table-view">
									<li class="mui-table-view-cell mui-media" v-for="item in c0">
										<div class="mui-table">
											<div class="mui-row">
												<div class="mui-table-cell mui-pull-right">
													<span class="order-rmb">&yen;<span>{{item.price}}</span></span>
												</div>
												<div class="mui-table-cell">
													<img class="mui-media-object mui-pull-left" src="images/default.jpg">
													<div class="mui-media-body">
														{{item.uId}}
														<p class="mui-h6">{{item.dateTime}}</p>
													</div>
												</div>

											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-10">
													<h4 class="mui-ellipsis">{{item.title}}</h4>
												</div>
											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-1 mui-text-left">
													<p>Form</p>
												</div>
												<div class="mui-table-cell mui-col-xs-11">
													<p class="mui-ellipsis">{{item.oFrom}}</p>
												</div>
											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-1 mui-text-left">
													<p>To</p>
												</div>
												<div class="mui-table-cell mui-col-xs-11">
													<p class="mui-ellipsis">{{item.oTo}}</p>
												</div>
											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-1 mui-text-left">
													<p>Exp</p>
												</div>
												<div class="mui-table-cell mui-col-xs-10">
													<p class="mui-ellipsis">{{item.deadline}}</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item2" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell mui-media" v-for="item in items">
										<div class="mui-table">
											<div class="mui-row">
												<div class="mui-table-cell mui-pull-right">
													<span class="order-rmb">&yen;<span>{{item.price}}</span></span>
												</div>
												<div class="mui-table-cell">
													<img class="mui-media-object mui-pull-left" src="images/default.jpg">
													<div class="mui-media-body">
														{{item.uId}}
														<p class="mui-h6">{{item.dateTime}}</p>
													</div>
												</div>

											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-10">
													<h4 class="mui-ellipsis">{{item.title}}</h4>
												</div>
											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-1 mui-text-left">
													<p>Form</p>
												</div>
												<div class="mui-table-cell mui-col-xs-11">
													<p class="mui-ellipsis">{{item.oFrom}}</p>
												</div>
											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-1 mui-text-left">
													<p>To</p>
												</div>
												<div class="mui-table-cell mui-col-xs-11">
													<p class="mui-ellipsis">{{item.oTo}}</p>
												</div>
											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-1 mui-text-left">
													<p>Exp</p>
												</div>
												<div class="mui-table-cell mui-col-xs-10">
													<p class="mui-ellipsis">{{item.deadline}}</p>
												</div>
											</div>
										</div>
									</li>
									<li class="mui-table-view-cell mui-media" v-for="item in items">
										<div class="mui-table">
											<div class="mui-row">
												<div class="mui-table-cell mui-pull-right">
													<span class="order-rmb">&yen;<span>{{item.price}}</span></span>
												</div>
												<div class="mui-table-cell">
													<img class="mui-media-object mui-pull-left" src="images/default.jpg">
													<div class="mui-media-body">
														{{item.uId}}
														<p class="mui-h6">{{item.dateTime}}</p>
													</div>
												</div>

											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-10">
													<h4 class="mui-ellipsis">{{item.title}}</h4>
												</div>
											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-1 mui-text-left">
													<p>Form</p>
												</div>
												<div class="mui-table-cell mui-col-xs-11">
													<p class="mui-ellipsis">{{item.oFrom}}</p>
												</div>
											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-1 mui-text-left">
													<p>To</p>
												</div>
												<div class="mui-table-cell mui-col-xs-11">
													<p class="mui-ellipsis">{{item.oTo}}</p>
												</div>
											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-1 mui-text-left">
													<p>Exp</p>
												</div>
												<div class="mui-table-cell mui-col-xs-10">
													<p class="mui-ellipsis">{{item.deadline}}</p>
												</div>
											</div>
										</div>
									</li>
									<li class="mui-table-view-cell mui-media" v-for="item in items">
										<div class="mui-table">
											<div class="mui-row">
												<div class="mui-table-cell mui-pull-right">
													<span class="order-rmb">&yen;<span>{{item.price}}</span></span>
												</div>
												<div class="mui-table-cell">
													<img class="mui-media-object mui-pull-left" src="images/default.jpg">
													<div class="mui-media-body">
														{{item.uId}}
														<p class="mui-h6">{{item.dateTime}}</p>
													</div>
												</div>

											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-10">
													<h4 class="mui-ellipsis">{{item.title}}</h4>
												</div>
											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-1 mui-text-left">
													<p>Form</p>
												</div>
												<div class="mui-table-cell mui-col-xs-11">
													<p class="mui-ellipsis">{{item.oFrom}}</p>
												</div>
											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-1 mui-text-left">
													<p>To</p>
												</div>
												<div class="mui-table-cell mui-col-xs-11">
													<p class="mui-ellipsis">{{item.oTo}}</p>
												</div>
											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-1 mui-text-left">
													<p>Exp</p>
												</div>
												<div class="mui-table-cell mui-col-xs-10">
													<p class="mui-ellipsis">{{item.deadline}}</p>
												</div>
											</div>
										</div>
									</li>
									<li class="mui-table-view-cell mui-media" v-for="item in items">
										<div class="mui-table">
											<div class="mui-row">
												<div class="mui-table-cell mui-pull-right">
													<span class="order-rmb">&yen;<span>{{item.price}}</span></span>
												</div>
												<div class="mui-table-cell">
													<img class="mui-media-object mui-pull-left" src="images/default.jpg">
													<div class="mui-media-body">
														{{item.uId}}
														<p class="mui-h6">{{item.dateTime}}</p>
													</div>
												</div>

											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-10">
													<h4 class="mui-ellipsis">{{item.title}}</h4>
												</div>
											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-1 mui-text-left">
													<p>Form</p>
												</div>
												<div class="mui-table-cell mui-col-xs-11">
													<p class="mui-ellipsis">{{item.oFrom}}</p>
												</div>
											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-1 mui-text-left">
													<p>To</p>
												</div>
												<div class="mui-table-cell mui-col-xs-11">
													<p class="mui-ellipsis">{{item.oTo}}</p>
												</div>
											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-1 mui-text-left">
													<p>Exp</p>
												</div>
												<div class="mui-table-cell mui-col-xs-10">
													<p class="mui-ellipsis">{{item.deadline}}</p>
												</div>
											</div>
										</div>
									</li>
									<li class="mui-table-view-cell mui-media" v-for="item in items">
										<div class="mui-table">
											<div class="mui-row">
												<div class="mui-table-cell mui-pull-right">
													<span class="order-rmb">&yen;<span>{{item.price}}</span></span>
												</div>
												<div class="mui-table-cell">
													<img class="mui-media-object mui-pull-left" src="images/default.jpg">
													<div class="mui-media-body">
														{{item.uId}}
														<p class="mui-h6">{{item.dateTime}}</p>
													</div>
												</div>

											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-10">
													<h4 class="mui-ellipsis">{{item.title}}</h4>
												</div>
											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-1 mui-text-left">
													<p>Form</p>
												</div>
												<div class="mui-table-cell mui-col-xs-11">
													<p class="mui-ellipsis">{{item.oFrom}}</p>
												</div>
											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-1 mui-text-left">
													<p>To</p>
												</div>
												<div class="mui-table-cell mui-col-xs-11">
													<p class="mui-ellipsis">{{item.oTo}}</p>
												</div>
											</div>
											<div class="mui-row">
												<div class="mui-table-cell mui-col-xs-1 mui-text-left">
													<p>Exp</p>
												</div>
												<div class="mui-table-cell mui-col-xs-10">
													<p class="mui-ellipsis">{{item.deadline}}</p>
												</div>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item3" class="mui-slider-item mui-control-content">
						<div class="mui-scroll-wrapper">
							<div class="mui-scroll">
								<ul class="mui-table-view">
									<li class="mui-table-view-cell">
										第5个选项卡子项-1
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-2
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-3
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-4
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-5
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-6
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-7
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-8
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-9
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-10
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-11
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-12
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-13
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-14
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-15
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-16
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-17
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-18
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-19
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-20
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-12
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-13
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-14
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-15
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-16
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-17
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-18
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-19
									</li>
									<li class="mui-table-view-cell">
										第5个选项卡子项-20
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div id="item4" class="mui-slider-item mui-control-content">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-media" v-for="item in items">
								<div class="mui-table">
									<div class="mui-row">
										<div class="mui-table-cell mui-pull-right">
											<span class="order-rmb">&yen;<span>{{item.price}}</span></span>
										</div>
										<div class="mui-table-cell">
											<img class="mui-media-object mui-pull-left" src="images/default.jpg">
											<div class="mui-media-body">
												{{item.uId}}
												<p class="mui-h6">{{item.dateTime}}</p>
											</div>
										</div>

									</div>
									<div class="mui-row">
										<div class="mui-table-cell mui-col-xs-10">
											<h4 class="mui-ellipsis">{{item.title}}</h4>
										</div>
									</div>
									<div class="mui-row">
										<div class="mui-table-cell mui-col-xs-1 mui-text-left">
											<p>Form</p>
										</div>
										<div class="mui-table-cell mui-col-xs-11">
											<p class="mui-ellipsis">{{item.oFrom}}</p>
										</div>
									</div>
									<div class="mui-row">
										<div class="mui-table-cell mui-col-xs-1 mui-text-left">
											<p>To</p>
										</div>
										<div class="mui-table-cell mui-col-xs-11">
											<p class="mui-ellipsis">{{item.oTo}}</p>
										</div>
									</div>
									<div class="mui-row">
										<div class="mui-table-cell mui-col-xs-1 mui-text-left">
											<p>Exp</p>
										</div>
										<div class="mui-table-cell mui-col-xs-10">
											<p class="mui-ellipsis">{{item.deadline}}</p>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
					<div id="item5" class="mui-slider-item mui-control-content">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell mui-media" v-for="item in items">
								<div class="mui-table">
									<div class="mui-row">
										<div class="mui-table-cell mui-pull-right">
											<span class="order-rmb">&yen;<span>{{item.price}}</span></span>
										</div>
										<div class="mui-table-cell">
											<img class="mui-media-object mui-pull-left" src="images/default.jpg">
											<div class="mui-media-body">
												{{item.uId}}
												<p class="mui-h6">{{item.dateTime}}</p>
											</div>
										</div>

									</div>
									<div class="mui-row">
										<div class="mui-table-cell mui-col-xs-10">
											<h4 class="mui-ellipsis">{{item.title}}</h4>
										</div>
									</div>
									<div class="mui-row">
										<div class="mui-table-cell mui-col-xs-1 mui-text-left">
											<p>Form</p>
										</div>
										<div class="mui-table-cell mui-col-xs-11">
											<p class="mui-ellipsis">{{item.oFrom}}</p>
										</div>
									</div>
									<div class="mui-row">
										<div class="mui-table-cell mui-col-xs-1 mui-text-left">
											<p>To</p>
										</div>
										<div class="mui-table-cell mui-col-xs-11">
											<p class="mui-ellipsis">{{item.oTo}}</p>
										</div>
									</div>
									<div class="mui-row">
										<div class="mui-table-cell mui-col-xs-1 mui-text-left">
											<p>Exp</p>
										</div>
										<div class="mui-table-cell mui-col-xs-10">
											<p class="mui-ellipsis">{{item.deadline}}</p>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script src="js/util.js"></script>
		<script src="js/index.js"></script>
	</body>

</html>